
TAI_RLaba_PNakielny/TAI_RLaba_PNakielny/TAI_RLaba_PNakielny - Backup.csproj
*.v2
TAI_RLaba_PNakielny/.vs/TAI_RLaba_PNakielny/v16/.suo
*.exe
*.cache
*.cache
*.editorconfig
*.cache
*.cache
TAI_RLaba_PNakielny/TAI_RLaba_PNakielny/obj/TAI_RLaba_PNakielny.csproj.nuget.dgspec.json
*.props
*.cache
*.cache
*.dll
*.pdb
*.exe
*.cache
*.cache
*.config
*.config
*.v1
TAI_RLaba_PNakielny/.vs/TAI_RLaba_PNakielny/v17/.suo
*.json
*.xml
*.BuildWithSkipAnalyzers
*.config
*.v2
*.json
*.dll
*.exe
*.pdb
*.json
*.dll
*.pdb
*.exe
*.cs
*.cache
*.txt
*.dll
*.cache
*.pdb
*.dll
*.json
*.props
*.targets
*.dll
*.pdb
*.dll
*.pdb
*.config
*.config
*.json
*.targets
*.dll
*.exe
*.pdb
*.dll
*.pdb
*.v2
