@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane personalne";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Na tej stronie może pan pobrać lub usunąć dane o swoim koncie</p>
        <p>
            <strong>Usuwając dane o koncie całkowicie zostanie usunięte konto, bez możliwości przywrócenia</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Pobierz</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}